{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="row" id="columns">

        <div class="card product">
        <div class="card-body">
        <h5 class="card-title">Add Item</h5>
        <p class="card-text">
            <form class=form-control method='POST' action="{{url_for('addItem')}}">

            Title: <br>
            <input type=text  class="form-control" name='item_name'> <br>

            Description: <br>
            <textarea class="form-control" rows=5  name='item_description'> </textarea> <br>


            Category: <br>
            <select class="form-control" name='item_category'>
            {% for category in category_list%}
            <option>{{category.name}}</option>
            {%endfor%}
            </select>
            <br>

            <input type=submit value='Add Product'> <br>


            </form>
        </p>
        </div>
        </div>
</div>
</div>

{% endblock %}