{% extends "index.html" %}
{% block content %}
  <!-- COLUMNS -->

<div class="container">
    <div class="row" id="columns">

        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">

            {% for category in category_list %}
            <a href="{{url_for('viewCategory', category_id=category.id)}}">{{category.name}}</a> <br>
            {% endfor %}

        </p>
        </div>
        </div>

        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Category 1 items</h5>
        <p class="card-text">
            {% for item in items %}
                <a href="{{url_for('viewItem', category_id=selected_category.id, item_id=item.id)}}">{{item.name}}</a> <br>
            {% endfor %}
        </p>
        </div>
        </div>
</div>
</div>
{% endblock %}