{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="row" id="columns">

        <div class="card product">
        <div class="card-body">
        <h5 class="card-title">Edit Item</h5>
        <p class="card-text">
            <form class=form-control method='POST' action="{{url_for('editItem', item_id=edited_item.id)}}">

            Title: <br>
            <input type=text  class="form-control" name='item_name' value="{{edited_item.name}}"><br>

            Description: <br>
            <textarea class="form-control" rows=5  name='item_description' >{{edited_item.description}} </textarea> <br>


            Category: <br>
            <select class="form-control" name='item_category' value ="{{edited_item.category.name}}" selected="{{edited_item.category.name}}">
            <option>{{edited_item.category.name}}</option>
            {% for category in category_list%}
            {%if category.name != edited_item.category.name %}
            <option>{{category.name}}</option>
            {%endif%}
            {%endfor%}
            </select>
            <br>

            <input type=submit value='Edit Item'> <br>


            </form>
        </p>
        </div>
        </div>
</div>
</div>

{% endblock %}