{% extends "index.html" %}
{% block content %}
  <!-- COLUMNS -->

<div class="container">
    <div class="row" id="columns">

        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">

            {% for category in category_list %}
            <a href="{{url_for('viewCategory', category_id=category.id)}}">{{category.name}}</a> <br>
            {% endfor %}

        </p>
        </div>
        </div>

        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Latest Items</h5>
        <p class="card-text">
        	<a href="{{url_for('addItem')}}">Add a new item</a><br>
        	{% for item in items %}

            {{item.name}} <br>

            {% endfor %}
        </p>
        </div>
        </div>
</div>
</div>
{% endblock %}