{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="row" id="columns">
        <div class="card product">
        <div class="card-body">
        <h5 class="card-title">{{selected_item.name}}</h5>
        <p class="card-text">
            {{selected_item.description}}
            <br>
        <a href="{{url_for('editItem', item_id=selected_item.id)}}">Edit</a>
        <a href="{{url_for('deleteItem', item_id=selected_item.id)}}">Delete</a>
        </p>
        </div>
        </div>
</div>
</div>

{% endblock %}